    <div class="container">
      <form id="message-form" class="form-inline">
        <div class="form-group">
          <input id="input-text" type="text" class="form-control" placeholder="Enter chat text here!" autofocus />
        </div>
        <button class="btn btn-primary" type="submit">Send</button>
      </form>
      <div class="page-header">
        <h1>Chat</h1>
      </div>
      <div id="chat-text">
        <% unless @messages.empty? %>
          <% @messages.reverse.each do |message| %>
            <div class='panel panel-default'><div class='panel-heading'><%= message.handle %></div><div class='panel-body'><%= message.text %></div></div>
          <% end %>
        <% end %>
      </div>
    </div>
