    <header>
      <div class="container">
        <div class="row">
          <div class="page-header">
            <div class="col-sm-6">
              <h1 class="pull-left">Chat</h1>
            </div>
            <div class="col-sm-6">
              <div class="pull-right">
                <form  action="/auth/sign_out" method="post">
                  <button type="submit" name="_method" value="delete" class="btn btn-link">
                    <h1><i class="glyphicon glyphicon-log-out"></i></h1>
                  </button>
                </form>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div id="chat-text">
          <% unless @messages.empty? %>
            <% @messages.reverse.each do |message| %>
              <div class='panel panel-default'><div class='panel-heading'><%= message.handle %></div><div class='panel-body'><%= message.text %></div></div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row" style="margin-top: 30px;">
          <form id="message-form">
            <div class="col-sm-10" style="padding-left: 0;">
              <input id="input-text" type="text" class="form-control" autocomplete="off" placeholder="Enter chat text here!" autofocus />
            </div>
            <button class="btn btn-primary col-sm-2" type="submit">Send</button>
          </form>
        </div>
      </div>
    </footer>
